<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Shop</a></li>
            <li class="main-header__item"><a href="/products">Products</a></li>
            <% if(isAuthenticated) { %>
            <li class="main-header__item"><a href="/cart">Cart</a></li>
            <li class="main-header__item"><a href="/order">Orders</a></li>
           <li class="main-header__item"><a href="/add-product">Add-product</a></li>
            <li class="main-header__item"><a href="/XX">Admin-Products</a></li>
            <% } %>
        </ul>
        <ul class="main-header__item-list-auth">
            <% if(!isAuthenticated) { %>
            <li class="main-header__item"><a href="/login">LOGIN</a></li>
            <li class="main-header__item"><a href="/signup">SIGNUP</a></li>
        </ul>        
            <% } else { %>
            <form action="/logout" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
               <button class="logoutbtn" type="submit">LOGOUT</button>
            </form>
            <% } %>
    </nav>